@use 'variables';
#administrador .pi { 
    display: block !important;
    margin: 0 auto !important;
}
.botonMas{
    padding: 1rem;
    border: 1px solid variables.$Primario;
    border-radius: 100%;
    background-color: variables.$Black;
    margin-bottom: 30px;
}
#administrador .pi {
    color: variables.$Secundario;
    font-size: 20px;
}