@use 'variables';



.acciones-contrato {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5rem;
  width: 100%;

  .btn-accion {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    &.btn-ver {
      background-color: variables.$Primario;

      &:hover {
        background-color: darken(variables.$Primario, 10%);
      }
    }

    &.btn-descargar {
      background-color: variables.$Secundario;

      &:hover {
        background-color: darken(variables.$Secundario, 10%);
      }
    }

    &.btn-pdf {
      background-color: variables.$Terciario;

      &:hover {
        background-color: darken(variables.$Terciario, 10%);
      }
    }
  }
}
.p-card .p-card-body {
    padding: 0;
}

@media (max-width: 768px) {
 .p-paginator {
  font-size: 0.75rem; // Reduce el tamaño general del texto

  .p-paginator-pages .p-paginator-page,
  .p-paginator-first,
  .p-paginator-prev,
  .p-paginator-next,
  .p-paginator-last {
    font-size: 0.75rem; // Tamaño de número y flechas
    min-width: 1.5rem; // Ancho mínimo más chico
    height: 1.5rem;     // Alto más chico
    padding: 0.25rem;   // Menos padding
    margin-bottom: 0.75rem;
  }

  .p-paginator-rpp-options {
    font-size: 0.75rem;
  }

  .p-dropdown .p-dropdown-label {
    font-size: 0.75rem;
    padding: 0.25rem;
  }
    
    .p-dropdown-label {
      padding: 0.25rem;
    }

    .p-paginator-current {
      display: none !important;
    }
  }
}

