@use 'variables';
.mi-popup {
  background-color: rgb(17, 17, 17);
  color: variables.$Primario;
  border-radius: 12px;
}
#disabled .pi{
  font-size: 20px;
}
.mi-titulo {
  font-size: 24px;
  font-weight: bold;
}

.mi-boton-confirmar {
  background-color: variables.$Terciario !important;
  color: #fff !important;
}

.mi-boton-cancelar {
  background-color: #910513 !important;
  color: #fff !important;
}

.swal2-icon.iconoSA {
  color: #d97706 !important; /* por ejemplo, naranja */
  border-color: #d97706 !important;
}
