@use 'variables';
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: variables.$Secundario !important;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif !important;

}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-submenu-icon{
    color: variables.$Secundario !important;
    font-size: 20px;
}

.p-button .p-button-label {
    transition-duration: 0.2s;
    font-family: 'Open Sans', sans-serif !important;
}
.p-button.p-button-text.p-button-plain {
    color: variables.$Secundario !important;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.p-button.p-button-text.p-button-plain:hover {
    color: var !important;
    font-size: 1.2rem;
    background-color: black;
    text-shadow: 0 0 4px variables.$Zero; // opcional: brillo
}
#navbar .pi {
    color: variables.$Secundario;
    font-size: 20px;
}
.navbar-custom {
    background-color: rgba(variables.$Black, 0.7);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: variables.$Primario !important;
    border-bottom: none !important;
}
.p-button.p-button-danger, .p-button-group.p-button-danger > .p-button, .p-splitbutton.p-button-danger > .p-button, .p-fileupload-choose.p-button-danger {
    color: #ffffff;
    background: variables.$Black;
}
.botonCerrar{
    background-color: variables.$Black !important;
    border: 1px solid variables.$Secundario !important;
}
.navbar-custom .p-menubar-root-list {
    margin-left: 2rem;
}

.navbar-custom .p-menuitem-link {
    border-radius: 6px;
    transition: all 0.3s ease;
}

.navbar-custom .p-submenu-list {
    border: 1px solid  variables.$Terciario;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content
 {
    color: #fff;
    transition: all 0.3s ease; 
}

.p-menubar-root-list > .p-menuitem > .p-menuitem-content > .p-menuitem-link:hover {
  color: #fff !important; // opcional: buen contraste
  text-shadow: 0 0 4px variables.$Zero; // opcional: brillo
}
.p-menuitem-link{
    background-color: black !important; 
}

/*
.p-menuitem-link:hover{
    background-color: green !important; // color de fondo de los botones del navbar al hacer hover

}*/
.p-submenu-list {
    background-color: black !important; 
    border-radius: 0px;
    padding: 0;
    min-width: 250px; // o el ancho que necesites
}

.p-submenu-list .p-menuitem-link:hover {
  background-color: #222 !important; // o el color que prefieras
}
.navbar-custom .p-menuitem-link {
    border-radius: 6px;
    transition: all 0.3s ease; border-radius: 0px;
}

.p-menuitem-text{
    color: variables.$Secundario;
    font-size: 1.5rem !important;
}
/* Desactiva el botón hamburguesa automático de PrimeReact */
.p-menubar-button {
  display: none !important;
  color: variables.$Secundario;
}
   .desktop-navbar {
          display: block;
        }
        .mobile-navbar {
          display: none;
          padding: 0.5rem 1rem;
        }
        @media (max-width: 1024px) {
          .desktop-navbar {
            display: none;
          }
          .mobile-navbar {
            display: flex;
            align-items: center;
          }
        
        .navbar-custom {
          background-color: rgba(0,0,0,0.7);
          color: variables.$Secundario;
        }
        /* Estilos de items menú overlay */
        .p-overlaypanel .p-menuitem-link, .p-overlaypanel div[role="menuitem"] {
          color: variables.$Secundario;
          font-size: 1rem;
          user-select: none;
        }
        .p-overlaypanel div[role="menuitem"]:hover, .p-overlaypanel div[role="menuitem"]:focus {
          background-color: #333;
          outline: none;
        }

        #navbar .pi {
            color: variables.$Secundario;
        }

        .pi .pi-file{
            color: variables.$Secundario !important;
        }
        .p-overlaypanel .p-overlaypanel-close{
            display: none;
        }
        .p-overlaypanel .p-overlaypanel-content {
            background-color: variables.$Black;
        }
        hr {
            background-color: purple !important;
            color: red !important;
            border-color: variables.$Primario !important;
        }
        .p-overlaypanel {
                        color: variables.$Secundario !important;

        }
}

